#compareCard{
    width: 30vw !important;
    height: 30vh !important;
    margin-left: 0;
}
#compareButton{
    width: 90%;
}
#selectSimRoot{
    height: fit-content;
    width: 100%;
}
.selectOption{
    width: 30vw !important
}