#monitorContainerCard {
  width: 90vw;
  height: 28vh;
  margin-left: 5vw;
}
#coordsList{
  width: 90%;
  height: 50%;
  overflow-y: auto;
}
.container a {
  text-decoration: none;
}
#mapContainer{
  width: 90vw;
  height: 55vh;
  margin-left: 5vw;
}
#menuButton{
  display: inline;
}
#monitorList{
  display: flex;
  justify-content: space-between;
}

/* toolbar */

#modalMenu{
  --height: 80%;
  margin-top: 10;
}