.dayButtons{
    width:100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
.daysDiv{
    position: absolute;
    top: 79%;
    left: 14%;
    z-index: 200;
    /* border: black 2px solid; */
    background-color: honeydew;

 }
 #infectedDiv{
    background-color: honeydew;
    float: right;
    position: absolute;
    top: 79%;
    left: 32%;
    z-index: 200;
    /* margin-right: 2%; */
    width: 50%;
    display: inline-flex;
    justify-content: space-around;
    /* margin-top: 2%; */
}
#mapDiv{
    height:38vh;
    width: 45vw;
    /* margin: 3%; */
    border: springgreen solid 2px;
    /* left: 50vw; */
}