.header{
    height: 9vh;
}

/* home content */
.locationCard{
    display: inline block;
    width: 60%;
    height: 30%;
    --background: url('../resources/location.jpg');
    background-repeat: no-repeat;
    /* transition: transform .2s; */
}

.menuButton{
    height: 5vh;
    width: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    cursor: pointer;
}

#routeCard{
    float: right;
    width: 60%;
    height: 30%;
    --background: url('../resources/route.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
#simCard{
    width: 60%;
    height: 30%;
    --background: url('../resources/sim.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
