
#mainHeader{
    width: 100%;
   
}
.header{
    border-bottom: springgreen solid 2px;
    height: 9vh;
}

#modalMenu{
    width: 50vw;
    height: 65vh;
    margin-top: 10vh;
    z-index: 100;
}
#infModal{
    width: 50vw;
    height: 35vh;
    margin-left: 50%;
    margin-top: 10vh;
    z-index: 100;
}
/* home content */
.locationCard{
    display: inline block;
    width: 60%;
    height: 30%;
    --background: url('../resources/location.jpg');
    background-repeat: no-repeat;
    /* transition: transform .2s; */
}

.menuButton{
    height: 5vh;
    width: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    cursor: pointer;
}
.menuButton:hover{
    font-weight: bolder;
}

#routeCard{
    float: right;
    width: 60%;
    height: 30%;
    --background: url('../resources/route.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
#simCard{
    width: 60%;
    height: 30%;
    --background: url('../resources/sim.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
