
#mainHeader{
    width: 100%;
}

#modalMenu{
    width: 50vw;
    height: 65vh;
    margin-top: 10vh;
    z-index: 100;
}
#infModal{
    width: 50vw;
    height: 35vh;
    margin-left: 50%;
    margin-top: 10vh;
    z-index: 100;
}
#alertModal{
    width: 10vw !important;
    height: 4vh !important;
    border-radius:  50px 50px;
    position: absolute;
    top: 85%;
    left: 85%;
}
 #alertDivOk{
    z-index: 200;
    margin: auto 0;
    padding-top: 6%;
    text-align: center;
    height: 100%;
    border-radius:  50px 50px;
    background-color: #00630d;
    color: whitesmoke !important;
} 
#alertDivError{
    margin: auto 0;
    text-align: center;
    padding-top: 6%;
    height: 100%;
    border-radius:  50px 50px;
    background-color: #a80303;
    color: whitesmoke !important;
}
.alertText{
    float: left;
    margin-left: 10%;
}
.alertIcon{
    position: absolute;
    float: right;
    top: 12%
}
/* home content */
.locationCard{
    display: inline block;
    width: 60%;
    height: 30%;
    --background: url('../resources/location.jpg');
    background-repeat: no-repeat;
    /* transition: transform .2s; */
}

.menuButton{
    height: 5vh;
    width: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    cursor: pointer;
}
.menuButton:hover{
    font-weight: bolder;
}

#routeCard{
    float: right;
    width: 60%;
    height: 30%;
    --background: url('../resources/route.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
#simCard{
    width: 60%;
    height: 30%;
    --background: url('../resources/sim.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
