
#mainHeader{
    width: 100%;
}

#modalMenu{
    width: 50vw;
    height: 65vh;
    margin-top: 10vh;
    z-index: 100;
}
#infModal{
    width: 50vw;
    height: 35vh;
    margin-left: 50%;
    margin-top: 10vh;
    z-index: 100;
}